.avatar {
    width: 150px;
    height: 150px; 
}
.presentation {
    text-align: center;
    font-size: 22px;
    font-family: serif;
    border: 2px solid black ;
}
.about {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
